* {
    margin: 0;
    padding: 0;
}

body {
    width: 200%;
    height: 200%;
    background: snow;
}

div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    text-align: center;
    width: 30%;
    border: black solid 1px;
}

.square1 {
    background: red;
    color: white;
}

.square2 {
    background: blue;
    color: white;
}

.square3 {
    background: purple;
    color: black;
}
.square4 {
    background: black;
    color: yellow;
}
